html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
/* #img {
  background-color: rgb(44, 44, 44);
} */
body {
  overflow-x: hidden;
}
/* .phrases-container {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.phrases {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  background-image: url(firstpage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.phrases-item {
  display: inline-block;
  position: relative;
  width: 2000px;
  margin: 0 auto;
  height: 600px;
  position: relative;
} */

.firstImage {
  width: 100%;
  height: 1000px;
  object-fit: cover;
  margin-top: 30%;
}

.p1 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: bold;
  color: rgba(0, 0, 0);
  font-size: 90px;
  /* float: left; */
  position: absolute;
  left: 17px;
  top: 10px;
  z-index: 2;
}

.p2 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(0, 0, 0);
  font-size: 90px;
  float: left;
  position: absolute;
  left: 900px;
  top: 411px;
  z-index: 2;
  transform: rotate(90deg);
}

.p3 {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  color: rgba(0, 0, 0);
  font-size: 60px;
  float: left;
  position: absolute;
  left: 100px;
  top: 300px;
  z-index: 2;
  transform: rotate(-90deg);
}

.p4 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(0, 0, 0);
  font-size: 60px;
  float: left;
  position: absolute;
  left: 800px;
  top: 0px;
  z-index: 2;
}

.p5 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(0, 0, 0);
  font-size: 90px;
  float: left;
  position: absolute;
  left: 500px;
  top: 50px;
  z-index: 2;
}

.p6 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(0, 0, 0);
  font-size: 90px;
  float: left;
  position: absolute;
  left: -100px;
  top: 300px;
  z-index: 2;
  transform: rotate(90deg);
}

.p7 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: bold;
  color: rgba(0, 0, 0);
  font-size: 60px;
  float: left;
  position: absolute;
  left: 840px;
  top: 460px;
  z-index: 2;
  transform: rotate(-90deg);
}

.p8 {
  font-family: "Inter", sans-serif;
  font-weight: light;
  color: rgba(0, 0, 0);
  font-size: 60px;
  float: left;
  position: absolute;
  left: 10px;
  top: 400px;
  z-index: 2;
  animation: lights 5s 750ms linear infinite;
}

.p9 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(0, 0, 0);
  font-size: 90px;
  float: left;
  position: absolute;
  left: 50px;
  top: 400px;
  z-index: 2;
  transform: rotate(-90deg);
}

.p10 {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  color: rgba(0, 0, 0);
  font-size: 70px;
  float: left;
  position: absolute;
  left: 120px;
  top: 150px;
  z-index: 2;
}

.p11 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: bold;
  color: rgba(0, 0, 0);
  font-size: 80px;
  float: left;
  position: absolute;
  left: 130px;
  top: 500px;
  z-index: 2;
  animation: lights 5s 750ms linear infinite;
}

.p12 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0);
  font-size: 70px;
  float: left;
  position: absolute;
  left: 180px;
  top: 290px;
  z-index: 2;
}

.p13 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: bold;
  color: rgba(0, 0, 0);
  font-size: 100px;
  float: left;
  position: absolute;
  left: 120px;
  top: 610px;
  z-index: 2;
  /* animation: float 3s ease-in-out infinite; */
}

.p14 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: bold;
  color: rgba(0, 0, 0);
  font-size: 120px;
  float: left;
  position: absolute;
  left: 880px;
  top: 140px;
  z-index: 2;
  animation: lights 5s 750ms linear infinite;
}

.p15 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: bold;
  color: rgba(0, 0, 0);
  font-size: 80px;
  float: left;
  position: absolute;
  left: -10px;
  top: 600px;
  z-index: 2;
  transform: rotate(-90deg);
  animation: lights 5s 750ms linear infinite;
}
.p16 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(0, 0, 0);
  font-size: 180px;
  float: left;
  position: absolute;
  left: 700px;
  top: 400px;
  z-index: 2;
  transform: rotate(-90deg);
  animation: lights 5s 750ms linear infinite;
}

/* adapted from https://codepen.io/zastrow/pen/PoJmzGJ */
/* @keyframes lights {
  0% {
    color: hsl(0, 0%, 0%);
    text-shadow: 0 0 1em hsl(330, 2%, 24%), 0 0 0.125em hsla(330, 1%, 31%, 0.3),
      -1em -0.125em 0.5em hsl(40, 2%, 26%),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(0, 0%, 0%);
    text-shadow: 0 0 1em hsla(330, 1%, 27%, 0.5),
      0 0 0.125em hsla(300, 1%, 26%, 0.5),
      -0.5em -0.125em 0.25em hsla(60, 1%, 25%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 5%, 49%, 0.4);
  }

  40% {
    color: hsl(0, 0%, 0%);
    text-shadow: 0 0 1em hsla(320, 2%, 26%, 0.5),
      0 0 0.125em hsla(300, 1%, 36%, 0.5),
      -0.25em -0.125em 0.125em hsla(60, 1%, 31%, 0.2),
      0.25em 0.125em 0.125em hsla(180, 3%, 16%, 0.4);
  }

  70% {
    color: hsl(0, 0%, 0%);
    text-shadow: 0 0 1em hsla(0, 0%, 6%, 0.5),
      0 0 0.125em hsla(330, 2%, 20%, 0.5),
      0.5em -0.125em 0.25em hsla(60, 2%, 23%, 0.2),
      -0.5em 0.125em 0.25em hsla(0, 0%, 24%, 0.4);
  }

  100% {
    color: hsl(0, 0%, 0%);
    text-shadow: 0 0 1em hsla(320, 2%, 24%, 0.2),
      0 0 0.125em hsla(320, 3%, 19%, 0.835),
      1em -0.125em 0.5em hsla(60, 3%, 23%, 0.956),
      -1em 0.125em 0.5em hsla(200, 2%, 30%, 0);
  }
} */

.p1:hover {
  transform: translateY(-0.25em);
}
.p2:hover {
  transform: translateY(-0.25em);
}
.p16:hover {
  transform: translateY(-0.25em);
}

#intro {
  background-color: rgb(213, 213, 213);
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  justify-content: center;
  padding: 2%;
  margin-top: 10%;
  margin-bottom: 30%;
  /* border-radius: 50px; */
  /* background: #ffffff; */
  box-shadow: 20px -20px 60px #d9d9d9, -20px 20px 60px #ffffff;
}

/* animation taken from https://codepen.io/MarioDesigns/pen/woJgeo 
overwhelmed animation*/
/* @keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(204, 204, 204, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(247, 244, 244, 0.2);
    transform: translatey(-20px);
    color: rgba(0, 0, 255, 1);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(140, 139, 139, 0.6);
    transform: translatey(0px);
  }
} */

/* table of contents */
#number1 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  align-self: center;
  font-size: 6em;
  color: rgba(0, 0, 255, 1);
}

#tableTitle {
  font-family: "Inconsolata", monospace;
  font-weight: bolder;
  font-size: 1.4em;
  margin-bottom: 5px;
  color: rgba(252, 57, 183, 1);
}

.tableContent {
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

#content-box {
  display: flex;
  transition: all 0.25s;
  width: 25%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

#content-box:hover {
  background-color: rgba(252, 57, 183, 1);
  box-shadow: 0 1em 1em -0.6em rgba(252, 57, 184, 0.667);
  transform: translateY(-0.25em);
}

/* Inspired from https://codepen.io/giuseppebianchi/pen/MwoMBa */
/* horizontal caroulsel */
.container-carousel {
  width: 100%;
  height: 80%;
  display: block;
  overflow: hidden;
}
.carousel {
  display: block;
  width: 100%;
  height: 600px;
  background: white;
  overflow-x: scroll;
  padding: 10px;
  margin: 0;
  white-space: nowrap;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.carousel-item {
  display: inline-block;
  width: 3850px;
  margin: -10px;
  height: 600px;
  background: rgba(0, 0, 0, 0.05) no-repeat center center;
  background-size: cover;
  position: relative;
  /* border-radius: 20px; */
  box-shadow: 0 0 10px #dfdfdf;
}
/* .carousel-item div {
  width: 100%;
  top: 10%;
  position: absolute;
  text-align: center;
  font-size: 9em;
  color: white;
} */
.h1-partone {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgb(255, 255, 10);
  font-size: 100px;
  float: left;
  position: absolute;
  left: 10px;
  top: 356px;
  transform: rotate(-5deg);
}

.h2-intro {
  font-family: "Inconsolata", monospace;
  font-weight: normal;
  color: rgb(255, 255, 255);
  font-size: 40px;
  float: left;
  position: absolute;
  left: 31px;
  top: 514px;
}

.h1-purpose {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(252, 57, 183, 1);
  font-size: 90px;
  float: left;
  position: absolute;
  left: 600px;
  top: 150px;
}

.h2-purpose {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 40px;
  color: rgb(255, 255, 255);
  /* letter-spacing: 0.25em; */
  float: left;
  position: absolute;
  left: 648px;
  top: 277px;
}

.h3-purpose {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  float: left;
  position: absolute;
  left: 649px;
  top: 327px;
}

#crayons {
  height: 200px;
  width: 500px;
  float: left;
  position: absolute;
  left: 1202px;
  top: 426px;
}

.h1-information {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(252, 57, 183, 1);
  font-size: 90px;
  float: left;
  position: absolute;
  left: 1309px;
  top: -11px;
}

.h2-information {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 40px;
  float: left;
  position: absolute;
  left: 1377px;
  top: 119px;
}

.h3-information {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  float: left;
  position: absolute;
  left: 1377px;
  top: 171px;
}

.h1-team {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(255, 255, 10);
  font-size: 90px;
  float: left;
  position: absolute;
  left: 2122px;
  top: 150px;
}

.h2-team {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 40px;
  float: left;
  position: absolute;
  left: 2130px;
  top: 282px;
}

.h3-team {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  float: left;
  position: absolute;
  left: 2131px;
  top: 334px;
}

.kate-img {
  width: 6.3%;
  float: left;
  position: absolute;
  left: 2732px;
  top: 157px;
}

.evellin-img {
  width: 7.5%;
  float: left;
  position: absolute;
  left: 3485px;
  top: 192px;
}

.isabel-img {
  width: 10%;
  float: left;
  position: absolute;
  left: 3039px;
  top: 174px;
}

.kate {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(0, 0, 255, 1);
  font-size: 90px;
  float: left;
  position: absolute;
  left: 2706px;
  top: 398px;
  z-index: 2;
}

.isabel {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(0, 0, 255, 1);
  font-size: 90px;
  float: left;
  position: absolute;
  left: 3300px;
  top: 152px;
  z-index: 2;
}

.evellin {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(0, 0, 255, 1);
  font-size: 90px;
  float: left;
  position: absolute;
  left: 3637px;
  top: 391px;
  z-index: 2;
}

#carousel {
  background-image: url(Artboard\ 1.png);
}

/* Skyskraper */

.skyscraper-container {
  width: 100%;
  height: 400%;
  display: block;
  overflow: hidden;
}
.skyscraper {
  display: block;
  width: 100%;
  /* height: 3000px; */
  background: white;
  /* overflow-x: visible; */
  padding: 10px;
  margin: 0;
  white-space: nowrap;
  /* border-top: 2px solid rgba(0, 0, 0, 0.1); */
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}
/* #skyscraper {
  background-image: url(finalSkyscrapper2.png);
  width: 100%;
  height: 3000px;
} */

.finalsky {
  width: 37%;
  float: left;
  position: absolute;
  top: 100px;
  left: 10px;
}
.skyscraper-item {
  display: inline-block;
  width: 3850px;
  margin: -10px;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.05) no-repeat center center; */
  background-size: cover;
  position: relative;
  /* border-radius: 20px; */
  /* box-shadow: 0 0 10px #dfdfdf; */
}

/* #finalSkyscrapper {
  width: 100%;
  height: 80%;
} */

.h2-therecanbe {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  color: rgba(0, 0, 255, 1);
  z-index: 2;
  float: left;
  position: absolute;
  left: 370px;
  top: 1110px;
}

.h2-another {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 5em;
  color: rgba(0, 0, 255, 1);
  z-index: 2;
  float: left;
  position: absolute;
  left: 270px;
  top: 1120px;
}

.h1-way {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(252, 57, 183, 1);
  font-size: 15em;
  float: left;
  position: absolute;
  left: 440px;
  top: 955px;
}

.h3-consume {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 2.5em;
  color: rgba(0, 0, 0);
  z-index: 2;
  float: left;
  position: absolute;
  left: 880px;
  top: 945px;
}

.h3-consume1 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: rgba(0, 0, 0);
  z-index: 2;
  float: left;
  position: absolute;
  left: 880px;
  top: 1050px;
}

.h3-consume2 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: rgba(0, 0, 0);
  z-index: 2;
  float: left;
  position: absolute;
  left: 980px;
  top: 1260px;
}

.h3-realize {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 3em;
  color: rgb(255, 255, 255);
  z-index: 2;
  float: left;
  position: absolute;
  left: 400px;
  top: 2220px;
}

.h3-realize1 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: rgb(255, 255, 255);
  z-index: 2;
  float: left;
  position: absolute;
  left: 400px;
  top: 2400px;
}

.h3-price {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 3em;
  color: rgb(255, 255, 255);
  z-index: 2;
  float: left;
  position: absolute;
  left: 1190px;
  top: 1490px;
}

.h3-price1 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: rgb(255, 255, 255);
  z-index: 2;
  float: left;
  position: absolute;
  left: 1200px;
  top: 1565px;
}

.h1-awareness {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgb(255, 255, 10);
  font-size: 100px;
  float: left;
  position: absolute;
  left: 1130px;
  top: 2300px;
  z-index: 2;
}

.h2-awareness {
  font-family: "Inconsolata", monospace;
  font-weight: normal;
  color: rgb(255, 255, 255);
  font-size: 40px;
  float: left;
  position: absolute;
  left: 1180px;
  top: 2450px;
  z-index: 2;
}

.overwhelmed-info {
  width: 30%;
  float: left;
  position: absolute;
  top: 7px;
  left: 93px;
}

#container {
  display: flex;
  justify-content: center;
  margin-bottom: 30%;
  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;

  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  font-size: 80pt;

  text-align: center;

  user-select: none;
}

/* .infographic1 {
  /* margin-bottom: 30%; */
/*float: left;
  position: absolute;
  left: 106px;
  top: -50px;
} */

.h1-over {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(0, 0, 255, 1);
  font-size: 70px;
  float: left;
  position: absolute;
  left: 34px;
  top: 628px;
  z-index: 2;
  transform: rotate(354deg);
}

.h2-over {
  font-family: "Inconsolata", monospace;
  font-weight: normal;
  color: rgb(0, 0, 0);
  font-size: 30px;
  float: left;
  position: absolute;
  top: 738px;
  left: 110px;
  z-index: 2;
}

.h3-over {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 2.5em;
  float: left;
  position: absolute;
  left: 462px;
  top: 39px;
  color: rgba(252, 57, 183, 1);
}

.h3-over1 {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 2.5em;
  float: left;
  position: absolute;
  left: -10px;
  top: 500px;
  color: rgba(0, 0, 255, 1);
  left: 919px;
  top: 482px;
}
/* .infographic2 {
  background-image: url(Screenshot\ 2023-05-01\ at\ 16.35.21.png);
  background-size: contain;
} */

.container-toxic {
  width: 100%;
  height: 400%;
  display: block;
  overflow: hidden;
  float: left;
  position: absolute;
  left: -10px;
  top: 7198px;
}
.toxic {
  display: block;
  width: 100%;
  background: white;
  padding: 10px;
  margin: 0;
  white-space: nowrap;
}
/* #skyscraper {
    background-image: url();
    width: 100%;
    height: 3000px;
  } */
.toxic-item {
  display: inline-block;
  width: 3850px;
  margin: -10px;
  height: 100%;
  background-size: cover;
  position: relative;
}

.positive {
  width: 50%;
  float: left;
  position: absolute;
  top: 1535px;
  left: -198px;
}
.letters {
  width: 40%;
  float: left;
  position: absolute;
  top: 1549px;
  left: -80px;
}
.h1-toxic {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(252, 57, 183, 1);
  font-size: 100px;
  float: left;
  position: absolute;
  left: 100px;
  top: 2356px;
  z-index: 2;
}

.h1-toxic:hover {
  /* background-color: rgba(252, 57, 183, 1); */
  box-shadow: 0 1em 1em -0.6em rgba(0, 0, 255, 1);
  /* transform: translateY(-0.25em); */
}
.h2-toxic {
  font-family: "Inconsolata", monospace;
  font-weight: normal;
  color: rgb(0, 0, 0);
  font-size: 40px;
  float: left;
  position: absolute;
  left: 123px;
  top: 2494px;
}

.div-toxic {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: rgb(255, 255, 255);
  width: 40%;
  float: left;
  position: absolute;
  left: 566px;
  top: 1859px;
}

.toxic-info {
  width: 21%;
  float: left;
  position: absolute;
  top: 674px;
  left: 329px;
}

.h1-propose {
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 30px;
  float: left;
  position: absolute;
  left: 566px;
  top: 1814px;
}

.h1-toxicinfo {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(0, 0, 255, 1);
  font-size: 90px;
  float: left;
  position: absolute;
  left: 140px;
  top: 1192px;
  z-index: 2;
}

.h2-toxicinfo {
  font-family: "Inconsolata", monospace;
  font-weight: normal;
  font-size: 2em;
  color: black;
  float: left;
  position: absolute;
  left: 238px;
  top: 1350px;
  z-index: 2;
}

.container-balance {
  width: 100%;
  height: 1000%;
  display: block;
  overflow: hidden;
  float: left;
  position: absolute;
  left: -10px;
  top: -327px;
  z-index: 2;
}
.balance {
  display: block;
  width: 100%;
  background: white;
  padding: 10px;
  margin: 0;
  white-space: nowrap;
  z-index: 2;
}
.balance-item {
  display: inline-block;
  width: 3850px;
  margin: -10px;
  height: 100%;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.h1-balance {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(252, 57, 183, 1);
  font-size: 100px;
  float: left;
  position: absolute;
  left: 100px;
  top: 7107px;
  z-index: 2;
}

.h2-balance {
  font-family: "Inconsolata", monospace;
  font-weight: normal;
  color: rgb(0, 0, 0);
  font-size: 40px;
  float: left;
  position: absolute;
  left: 140px;
  top: 7241px;
}

.skater {
  width: 23%;
  float: left;
  position: absolute;
  left: 514px;
  top: 6029px;
  z-index: 2;
}

.bala {
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  font-size: 20em;
  color: rgba(0, 0, 255, 1);
  width: 40%;
  float: left;
  position: absolute;
  left: 527px;
  top: 6562px;
  transform: rotate(90deg);
  z-index: 2;
  letter-spacing: 0.3em;
}

.n-letter {
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  font-size: 20em;
  color: rgba(252, 57, 183, 1);
  width: 40%;
  float: left;
  position: absolute;
  left: 1080px;
  top: 6987px;
  z-index: 2;
}

.c-letter {
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  font-size: 40em;
  color: rgba(0, 0, 0);
  width: 40%;
  float: left;
  position: absolute;
  left: 334px;
  top: 6132px;
  z-index: 2;
  transform: rotate(296deg);
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  float: left;
  position: absolute;
  left: 835px;
  top: 7233px;
  z-index: 2;
}
.e-letter {
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  font-size: 30em;
  color: rgba(252, 57, 183, 1);
  width: 40%;
  float: left;
  position: absolute;
  left: -995px;
  top: 6737px;
  z-index: 2;
  transform: rotate(166deg);
}

.h1-deal {
  font-family: "Inconsolata", monospace;

  color: rgb(0, 0, 0);

  font-weight: bold;
  font-size: 2.5em;
  float: left;
  position: absolute;
  left: 221px;
  top: 6333px;
}

.h2-deal {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: rgb(0, 0, 0);
  font-size: 1em;
  float: left;
  position: absolute;
  left: 221px;
  top: 6398px;
  z-index: 2;
}

.kate-final,
.evellin-final,
.isabel-final {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(252, 57, 183, 1);
  font-size: 90px;
}

.kate-signature,
.eve-signature,
.isa-signature {
  width: 23%;
}

.kate-final {
  float: left;
  position: absolute;
  left: 313px;
  top: 5394px;
  z-index: 2;
  transform: rotate(353deg);
}
.kate-signature {
  float: left;
  position: absolute;
  left: -114px;
  top: 5128px;
  z-index: 2;
}

.evellin-final {
  float: left;
  position: absolute;
  left: 690px;
  top: 5476px;
  z-index: 2;
}
.eve-signature {
  float: left;
  position: absolute;
  left: 292px;
  top: 5199px;
  z-index: 2;
}

.isabel-final {
  float: left;
  position: absolute;
  left: 1080px;
  top: 5385px;
  z-index: 2;
  transform: rotate(359deg);
}
.isa-signature {
  float: left;
  position: absolute;
  left: 732px;
  top: 5127px;
  z-index: 2;
}
.h1-conclusion {
  font-family: "Inconsolata", monospace;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2.5em;
  float: left;
  position: absolute;
  left: 528px;
  top: 5065px;
}

.h2-conclusion {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: rgb(0, 0, 0);
  font-size: 1em;
  float: left;
  position: absolute;
  left: 528px;
  top: 5132px;
  z-index: 2;
}

.pink-div {
  background-color: rgba(252, 57, 183, 1);
  width: 100%;
  height: 700px;
  float: left;
  position: absolute;
  top: 1688px;
  left: -198px;
  z-index: -1;
}

.finalpage {
  width: 38%;
  float: left;
  position: absolute;
  top: 3850px;
  z-index: 2;
}
.popup {
  margin-top: 5vh;
  box-sizing: border-box;
  position: absolute;
  width: 1304px;
  height: 729px;
  background: #FFFFFF;
  border: 4px solid #FC39B7;
  border-radius: 70px;
  text-align: center;
  padding: 0 30px 30px;
  z-index: 3;
}
#background{
  display: flex;
  justify-content: space-around;
  position: fixed;
  background-color: rgba(255, 255, 10, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.popup h1{
  font-family: 'Just Me Again Down Here';
  color: #FC39B7;
  font-weight: 400;
font-size: 70px;
}

.popup h3{
  font-family: 'Inconsolata';
  font-size: 30px;
}
.popup li{
  font-family: 'Inter';
  font-weight: 400;
}
.popup ul{
  font-family: 'Inter';
  font-weight: 400;
}
.popup button {
  background: #FC39B7;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 18px;
width: 272px;
height: 98px;
font-family: 'Just Me Again Down Here';
font-size: 60px;
color: #FFFFFF;
margin-top: 40px;
cursor: pointer;
}
