* {
  font-family: "Roboto", sans-serif;
  border: 1px white;
}
.number-6 {
  position: relative;
  top: 8901px;
  left: 264px;
  width: 154.99px;
  height: 285.93px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  color: #ffff0a;
}
.number-6-white {
  position: relative;
  top: 8417px;
  left: 274px;
  width: 154.99px;
  height: 285.93px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  color: black;
}
.gear-1 {
  width: 300px;
  height: 290px;
  position: absolute;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  top: 10127px;
  left: 54px;
  z-index: 2;
}
.gear-2 {
  width: 430px;
  height: 430px;
  position: relative;
  top: 10367px;
  left: 119px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.gear-3 {
  width: 320px;
  height: 310px;
  position: relative;
  top: 10029px;
  left: -150px;
  right: -450px;
  transition: all 2s ease-in;
  opacity: 0.2;
  z-index: 2;
}

.filled-gear {
  width: 350px;
  height: 350px;
  position: relative;
  top: 7721px;
  left: 368px;
  margin: 0;
  padding: 0;
  transition: all 2s ease-in;
  filter: drop-shadow(-10px 10px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
}
.opening-container {
  position: relative;
  top: -250px;
}
.opening {
  background-color: #faff00;
  color: black;
  text-align: start;
  font-size: 16px;
  font-weight: 200;
  position: relative;
  left: 550px;
  top: 9505px;
  width: 170px;
  height: 200px;
  padding-top: 5em;
  padding-bottom: 12em;
  padding-right: 12em;
  padding-left: 12em;
  border-radius: 30px;
}
.opening-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #ffff0a;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  left: 1111px;
  top: 10526px;
  padding: 0;
  margin: 0;
}
.opening-title-yellow {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #fc39b7;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  left: 1113px;
  top: 10179px;
  padding: 0;
  margin: 0;
}
.opening-title-container {
  position: relative;
  top: -240px;
  left: -20px;
}
.container-5 {
  position: relative;
  top: -1100px;
}
.gear-4 {
  width: 250px;
  height: 250px;
  position: relative;
  top: -630px;
  left: -10px;
  right: -400px;
  transition: all 2s ease-in;
  opacity: 0.2;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.gear-5 {
  width: 400px;
  height: 400px;
  position: relative;
  top: -700px;
  left: -70px;
  right: -400px;
  transition: all 2s ease-in;
  opacity: 0.2;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.gear-6 {
  width: 300px;
  height: 300px;
  position: relative;
  top: -400px;
  left: -450px;
  right: -400px;
  transition: all 2s ease-in;
  opacity: 0.2;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.self-love {
  display: flex;
  color: white;
  text-align: start;
  position: relative;
  font-weight: 200;
  top: 9770px;
  right: -560px;
  background: #0000ff;
  width: 670px;
  height: 208px;
  padding: 8em 5em;
  border-radius: 30px;
}

.self-text {
  padding: 1em;
  margin: 1em;
  width: 510px;
}
.self-love-title {
  position: relative;
  top: 10309px;
  left: 300px;
  width: 462.23px;
  height: 116.27px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 105px;
  color: #ffff0a;
  transform: rotate(-90.25deg);
}
.self-love-black {
  position: relative;
  top: 10118px;
  left: 300px;
  width: 462.23px;
  height: 116.27px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 105px;
  color: black;
  transform: rotate(-90.25deg);
}
.filled-gear2 {
  width: 300px;
  height: 300px;
  position: relative;
  top: 7981px;
  right: -1140px;
  transition: all 2s ease-in;
  filter: drop-shadow(-10px 10px 4px rgba(0, 0, 0, 0.25));
}
.gear-7 {
  position: relative;
  top: 8242px;
  left: 808px;
  right: -500px;
  width: 400px;
  height: 400px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.gear-8 {
  width: 224px;
  height: 224px;
  position: relative;
  top: 8011px;
  left: 232px;
  right: 30px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.gear-9 {
  width: 300px;
  height: 300px;
  position: relative;
  top: 7863px;
  right: -319px;
  width: 289px;
  height: 289px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.number-5 {
  position: relative;
  top: 7734px;
  left: 1290px;
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  color: #0000ff;
}
.number-5-white {
  position: relative;
  top: 7299px;
  left: 1299px;
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  color: black;
}
.self-love-container2 {
  position: relative;
  top: -700px;
}
.self-love-container {
  position: relative;
  top: -400px;
}
.self-help-text {
  background-color: #fc39b7;
  color: white;
  font-weight: 200;
  text-align: start;
  font-size: 16px;
  position: relative;
  left: 270px;
  top: 7643px;
  width: 500px;
  height: 390px;
  padding: 10px 50px;
  padding-top: 90px;
  border-radius: 30px;
}
.self-help-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: relative;
  top: 7185px;
  left: 777px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: #fc39b7;
}
.self-help-white {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: relative;
  top: 6771px;
  left: 777px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: #0000ff;
}
.number-4 {
  position: relative;
  top: 6757px;
  left: 170px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 234px;
  color: #fc39b7;
}

.number-4-white {
  position: relative;
  top: 6323px;
  left: 155px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 234px;
}
.self-help-container {
  position: relative;
  top: -1200px;
}
.gear-10 {
  width: 270px;
  height: 270px;
  position: relative;
  top: 6709px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.gear-11 {
  width: 533.09px;
  height: 551.64px;
  position: relative;
  top: 7354px;
  left: -280px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.gear-12 {
  width: 201.26px;
  height: 208.26px;
  position: relative;
  top: 6841px;
  right: 700px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.gear-13 {
  width: 350px;
  height: 350px;
  position: relative;
  top: 7070px;
  left: -939px;
  transition: all 2s ease-in-out;
  filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
}
.gears-container {
  position: relative;
  top: -1700px;
}
.help-title {
  position: relative;
  top: -170px;
  left: -765px;
  color: #ffff0a;
  font-size: 80px;
  font-weight: 700;
  transform: rotate(-90.25deg);
  top: 11211px;
  left: -811px;
}
.help-title-white {
  position: relative;
  top: -370px;
  left: -765px;
  color: #fc39b7;
  font-size: 80px;
  font-weight: 700;
  transform: rotate(-90.25deg);
  top: 11045px;
  left: -811px;
}
.help-text {
  background-color: #faff00;
  color: black;
  text-align: start;
  font-weight: 200;
  font-size: 16px;
  position: relative;
  width: 500px;
  height: 220px;
  padding: 11em 5em;
  text-align: start;
  top: 11226px;
  left: -60px;
  border-radius: 30px;
}
.help-container {
  position: relative;
  top: -7300px;
  left: 600px;
}
.gear-14 {
  width: 334px;
  height: 334px;
  position: relative;
  top: 10260px;
  right: -400px;
  transition: all 2s ease-in-out;
  z-index: 2;
}
.gear-15 {
  width: 400px;
  height: 400px;
  position: relative;
  left: 146px;
  top: 10448px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.gear-16 {
  width: 320px;
  height: 320px;
  position: relative;
  top: 10089px;
  left: -323px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.gear-17 {
  width: 150px;
  height: 150px;
  position: relative;
  top: 10119px;
  left: -384px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
  z-index: 2;
}
.gear-18 {
  width: 340px;
  height: 340px;
  position: relative;
  top: -1100px;
  right: -540px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
  z-index: 2;
}
.number-3 {
  position: relative;
  top: 10517px;
  left: 664px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 234px;
  color: #ffff0a;
  width: fit-content;
}
.number-3-black {
  position: relative;
  top: 10084px;
  left: 670px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 234px;
  color: black;
  width: fit-content;
}
.gears-container3 {
  position: relative;
  top: -900px;
}
.forgiveness-container {
  position: relative;
  top: -1100px;
}
.forgiveness-text {
  border-radius: 30px;
  display: flex;
  color: white;
  text-align: start;
  position: relative;
  font-weight: 200;
  top: 2891px;
  right: -260px;
  background: #0000ff;
  width: 788px;
  height: 366px;
  padding: 5em 5em;
}

.p-fogiveness {
  padding: 1em;
  margin: 1em;
  width: 510px;
}
.number-2 {
  position: relative;
  top: 2294px;
  left: 66px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 234px;
  color: #0000ff;
}
.number-2-black {
  position: relative;
  top: 1860px;
  left: 54px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 234px;
  color: black;
}
.gear-19 {
  width: 300px;
  height: 300px;
  position: relative;
  top: 946px;
  left: 100px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.gear-20 {
  width: 200px;
  height: 200px;
  position: relative;
  top: 976px;
  left: -300px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.gear-21 {
  width: 400px;
  height: 400px;
  position: relative;
  top: 1350px;
  left: -600px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.gear-22 {
  width: 320px;
  height: 320px;
  position: relative;
  top: 1090px;
  left: -827px;
  transition: all 2s ease-in-out;
  filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
}

.forgiveness-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #faff00;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  left: 1195px;
  top: 3952px;
  padding: 0;
  margin: 0;
}
.forgiveness-title-colored {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #0000ff;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  left: 1195px;
  top: 3419px;
  padding: 0;
  margin: 0;
}

.understanding-text {
  background-color: #fc39b7;
  color: white;
  text-align: start;
  font-size: 16px;
  font-weight: 200;
  position: relative;
  left: 750px;
  top: 446px;
  width: 298px;
  height: 573px;
  padding: 3em 5em;
  border-radius: 30px;
}
.understanding-title {
  transform: rotate(-90.25deg);
  text-orientation: mixed;
  color: #fc39b7;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  left: -6px;
  top: 560px;
  padding: 0;
  margin: 0;
}
.understanding-title-colored {
  transform: rotate(-90.25deg);
  text-orientation: mixed;
  color: #0000ff;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  left: -7px;
  top: 460px;
  padding: 0;
  margin: 0;
}
.gear-23 {
  width: 272px;
  height: 270px;
  position: relative;
  top: -932px;
  left: 1195px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.gear-24 {
  width: 250px;
  height: 250px;
  position: relative;
  top: -1124px;
  left: 827px;
  transition: all 2s ease-in-out;
  filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
}
.gear-25 {
  width: 307px;
  height: 309px;
  position: relative;
  top: -1170px;
  left: 477px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}

.number-1 {
  position: relative;
  width: fit-content;
  margin: 0;
  top: -210px;
  left: 1250px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 234px;
  color: #fc39b7;
}
.number-1-black {
  position: relative;
  width: fit-content;
  margin: 0;
  top: -447px;
  left: 1258px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 234px;
}
.gears-container4 {
  position: relative;
  top: -500px;
}
.gear-26 {
  position: relative;
  top: 45px;
  left: -846px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  width: 500px;
  height: 500px;
  z-index: 2;
}
.gear-27 {
  width: 200px;
  height: 200px;
  position: relative;
  top: -1490px;
  left: 1217px;
  transition: all 2s ease-in-out;
  opacity: 0.2;
  z-index: 2;
}
.gear-28 {
  position: relative;
  width: 320px;
  height: 320px;
  position: relative;
  top: -371px;
  left: -119px;
  transition: all 2s ease-in-out;
  filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
}
.gear-2:hover {
  transform: rotate(180deg);
}
.gear-3:hover {
  transform: rotate(180deg);
}
.gear-1:hover {
  transform: rotate(180deg);
}
.filled-gear:hover {
  transform: rotate(180deg);
}
.gear-4:hover {
  transform: rotate(180deg);
}
.gear-5:hover {
  transform: rotate(180deg);
}
.gear-6:hover {
  transform: rotate(180deg);
}
.filled-gear2:hover {
  transform: rotate(180deg);
}
.gear-7:hover {
  transform: rotate(180deg);
}
.gear-8:hover {
  transform: rotate(180deg);
}
.gear-9:hover {
  transform: rotate(180deg);
}
.gear-10:hover {
  transform: rotate(180deg);
}
.gear-11:hover {
  transform: rotate(180deg);
}
.gear-12:hover {
  transform: rotate(180deg);
}
.gear-13:hover {
  transform: rotate(180deg);
}
.gear-14:hover {
  transform: rotate(180deg);
}
.gear-15:hover {
  transform: rotate(180deg);
}
.gear-16:hover {
  transform: rotate(180deg);
}
.gear-17:hover {
  transform: rotate(180deg);
}
.gear-18:hover {
  transform: rotate(180deg);
}
.gear-19:hover {
  transform: rotate(180deg);
}
.gear-20:hover {
  transform: rotate(180deg);
}
.gear-21:hover {
  transform: rotate(180deg);
}
.gear-22:hover {
  transform: rotate(180deg);
}
.gear-23:hover {
  transform: rotate(180deg);
}
.gear-24:hover {
  transform: rotate(180deg);
}
.gear-25:hover {
  transform: rotate(180deg);
}
.gear-26:hover {
  transform: rotate(180deg);
}
.gear-27:hover {
  transform: rotate(180deg);
}
.gear-28:hover {
  transform: rotate(180deg);
}
.part-three-title {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: lighter;
  color: rgba(0, 0, 255, 1);
  font-size: 100px;
  z-index: 2;
  margin: 0;
  float: left;
  position: absolute;
  left: 117px;
  top: 15874px;
  z-index: 2;
}
.bottom-text {
  font-family: "Inconsolata", monospace;
  font-weight: normal;
  color: rgb(0, 0, 0);
  font-size: 40px;
  float: left;
  position: absolute;
  left: 138px;
  top: 15954px;
  z-index: 2;
  margin-bottom: 3%;
}

.invitation {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 2.5em;
  float: left;
  position: absolute;
  left: 544px;
  top: 15544px;
}

.invitation-text {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 1em;
  float: left;
  position: absolute;
  left: 547px;
  top: 15609px;
}
